@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

%content-section {
  //font-family: 'Avenir Next', 'Lato', sans-serif;
  font-family: Avenir Next;
  position: absolute;
  margin-top: 30px;
  left: 0;
  right: 0;
  margin-bottom: 25px;
  padding: 10px 20px;
  opacity: 1;
  transition: all ease-out;
  margin: 0 auto;
  max-width: 500px;
  /* otherwise width 100% takes from padding box, not whole box */
  box-sizing: border-box;

  font-size: 14px;
  text-align: left;
  /*display: none; TODO: otherwise the margin pushes term down even when not on about,
  but this makes the height calcs in toggleAbout fail */
}

#wrapper {

  position: relative;
  margin-top: 10%;
  //transform: translateY(-50%);

  opacity: 0.8;
  text-align: center;
  //heigth: 60vh;
  //overflow: scroll;

}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}


/* The meat */
#about_content {
  @extend %content-section;

  text-align: center;
  color: black;
  line-height: 30px;
  background-color: white;
  opacity: 0.4;

  a {
    text-transform: uppercase;
    letter-spacing: 15px;
    /* hack to get text-align center right */
    padding-left: 15px;

    transition: opacity 0.3s ease;
    opacity: 0.3;

    &.active {
      opacity: 1;

      &::before  {
        content: "<";
        position: absolute;
        left: 20px;
      }
      &::after {
        content: ">";
        position: absolute;
        right: 20px;
      }
    }
  }

  &:hover {
    a {
      opacity: 1;
    }
  }
}

.hardware {
   @extend %content-section;
   color: white;
  //font-family: 
}

#visual_bg {
  /* transitioning background position lags... but i like it */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  //background-image: url('https://img.itch.io/aW1hZ2UvNTE5ODUvMjMyNzA3LmdpZg==/315x250%23c/CakyAO.gif');

  opacity: 1;

}


.background_image {
    width: 100vw;
    height: 100vh;
    opacity: 1;

}

#logo {
  margin-top: 4px;
}



#title {
  margin-bottom: 2px;
}
#subtitle {
  margin-top: 0;
}

#hardware_body {
  background-color:  #454545;
}

#creative_body {
  background-color: #884651;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #888;
  font-family: Avenir Next;


  //background-color: #fDfCf6; 
}

a {
    color: #19A685;
    text-decoration: none;
}

a {
     color:#4AD9B7; 
     text-decoration:none; 
     cursor:pointer;  
}

  nav ul {
    list-style: none;
    padding-left: inherit; }
    nav ul li {
      display: inline-block;
      padding: 4px 8px;
      transition: all 0.3s ease; }
      nav ul li:hover {
        color: #333; }
      nav ul li::before {
        display: block;
        width: 5px;
        height: 5px;
        margin: 8px auto;
        border-radius: 5px;
        border: 2px solid #888;
        content: '';
        transition: all 0.3s ease; }
      nav ul li:hover::before {
        background: white;
        border-color: white; }

#visual_content {
  font-family: Avenir Next;
  font-size: 15px;
  font-weight: bold;
  color: #fEfDf8;
  opacity: 0.3;


}

#visual_content:hover {
  opacity: 1;
}

.hardware {
  overflow: inherit;
  margin-top: 10vh;
  height: 500px;
}

iframe {
  overflow: visible;
}

#project {
  position: relative;
  width: 100%;
  height: 100%;

}





@import '_styleguide';
//@import '_visual';  
