<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- set Android toolbar theme color -->
  <meta name="theme-color" content="#db5945">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="shortcut icon" href="../img/favicon.png">

  <title>LR Creative</title>

  <link rel="stylesheet" href="../css/lr.css">
  <!-- libs -->
  <script src="../lib/jQuery.js"></script>

  
</head>

<body id="creative_body">
<div id="visual_bg">
  <!-- <img id="project"  src="https://img.itch.io/aW1hZ2UvNTE5ODUvMjMyNzA3LmdpZg==/315x250%23c/CakyAO.gif"> -->
</div>

<script src="../js/visual.js"></script>


<div id='wrapper'>
  <div id="logo"> 
    <img src='../img/processor_green.png' width='75px'>
  </div>
  <br><br><br><br>
  <div class="creative visual">
  <div id="visual_content">
    <a class='game_dev' id="visual_content"><      GAME DEV      ></a><br><br><br><br>
    <a id="visual_content" class="music"><  MUSIC  ></a><br><br><br><br>
    <a id="visual_content" class="digital_art"><  DIGITAL ART  ></a><br><br><br><br>
    <a id="visual_content" class="writing" target="_blank" href="http://instagram.com/kevinmlee.x"><  WRITING  ></a><br><br><br><br>
  </div>
  </div>
</div>

<nav>
  <ul>
    <li><a class='Hardware' href='hardware.html'>H A R D W A R E</a></li>
    <li><a class='creative' href='creative.html'>C R E A T I V E</a></li>
  </ul>
</nav>





</body>
</html>